<!DOCTYPE html>
<html ng-app="yourtube">
    <head>
        <meta charset="UTF-8">
        <script src="angular.min.js"></script>
        <script src="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/js/onsenui.min.js"></script>
        <script src="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/js/onsenui.min.js"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/css/onsenui.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/OnsenUI/OnsenUI/1.3.4/build/css/onsen-css-components.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-controller="UIController">
        <ons-tabbar>
            <ons-tab ng-click="volumeDown()" icon="fa fa-volume-down" label="Volume Down"></ons-tab>
            <ons-tab ng-click="volumeUp()" no-reload icon="fa fa-volume-up" label="Volume Up"></ons-tab>
            <ons-tab page="html/search.html" persistent no-reload active="true" icon="fa fa-search" label="Search"></ons-tab>
            <ons-tab page="html/history.html" persistent no-reload  icon="fa fa-youtube-play" label="Next"></ons-tab>
        </ons-tabbar>
    </body>
</html>
